### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/
.idea/misc.xml

### Eclipse ###
.apt_generated
.idea/misc.xml
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
.idea/misc.xml

### VS Code ###
.vscode/
.idea/misc.xml

### Mac OS ###
.DS_Store
.idea/misc.xml
